<!-- <button (click)="addtoCart()">Add to cart</button> -->
<br/><br/>


<!-- <input type="text" value="myInputText" (click)="onInputClick($event)">

<button value="Laptop" (click)="addtoCart($event)">Laptop</button>

<button value="Tv" (click)="addtoCart($event)">Tv</button>

<button value="Washing machine" (click)="addtoCart($event)">Washing machine</button>


<h6  >{{msg}}</h6> -->

<input #tempRef  type="text" value="uxtrend" name="Anant">
<button (click)="displayDetails(tempRef)">getinfo</button>