<header>
	<nav>
		<ul class="nav-link">
			<li ><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
			<li ><a routerLink="/about" routerLinkActive="active">About us</a></li>
			<li><a routerLink="/contact" routerLinkActive="active">Contact us </a></li>
			<li ><a routerLink="/products" routerLinkActive="active">Product</a></li>
			<li><a routerLink='/buy-product' routerLinkActive='active'>Buy Product</a></li>
		</ul>
	</nav>
</header>
<app-home [placeholderText]="myText" (property1)="getData($event)"></app-home>

{{property}}
<router-outlet></router-outlet>