<!-- <div class="container">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<div class="products">
  <ng-container *ngIf="statusOnline">
 <div  *ngFor="let product of products">
    {{product.name}}
  </div>
  </ng-container>
  </div>

  <div>
    <input type="text" placeholder="{{placeholderText}}" value="">
  </div>

  <div>
    <button (click)="sendData()">Click to send data to parent</button>
  </div>

  <div *ngFor='let product of productss'>
    {{product.id}}
    {{product.name}}
    
  </div>
    
</div> -->

<div class="container">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

<div #tempRef>
  <h1>User name is {{userName}}</h1>
</div>
<div class="comps">
<app-comp3></app-comp3>
<app-comp4></app-comp4>
</div>
</div>